.advantages__wrapper {
  width: 280px;
  margin: 0 auto;
  margin-top: 30px;
}

@media (min-width: @tablet-width) {
  .advantages__wrapper {
    width: 709px;
    margin-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .advantages__wrapper {
    width: 1224px;
    margin-top: 390px;
  }
}
