.background-image-cat-container {
  background-image: url("../img/index/main/cat-promo@1x.webp");
  width: 320px;
  height: 302px;
  background-repeat: no-repeat;
}

@media (min-resolution: 2dppx) {
  .background-image-cat-container {
    background-image: url("../img/index/main/cat-promo@2x.webp");
    background-size: 320px auto;
  }
}

.background-image-cat-container__wrapper-decoration {
  width: 320px;
  height: 302px;
  background-color: rgba(104, 183, 56, 0.8);
}

@media (min-width: @tablet-width) and (max-width: 1199px) {
  .background-image-cat-container {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .background-image-cat-container--desktop {
    background-image: url("../img/index/main/cat-promo-desktop@1x.webp");
    width: 720px;
    height: 694px;
    position: absolute;
    top: -151px;
    right: 0;
    z-index: -1;
  }

  .background-image-cat-container__wrapper-decoration--desktop {
    width: 720px;
    height: 694px;
  }

  @media (min-resolution: 2dppx) {
    .background-image-cat-container--desktop {
      background-image: url("../img/index/main/cat-promo-desktop@2x.webp");
      background-size: 720px auto;
    }
  }
}
