.example {
  background-color: #eaeaea;
}

.example__wrapper {
  width: 280px;
  margin: 0 auto;
}

.example__title {
  font-family: @oswald_font;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.example__total-price {
  font-family: @oswald_font;
  font-style: normal;
  font-weight: 400;
  font-size: @base_font-size;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

@media (max-width: @mobile-width) {
  .example__description--transfer-tablet {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .example__description--transfer-tablet {
    display: none;
  }
}

@media (max-width: @desktop-width) {
  .example__description--transfer-desktop {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .example__wrapper {
    width: 709px;
  }
}

