.example-advantage-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-advantage-list__item {
  border: 1px solid #cdcdcd;
  width: 124px;
  height: 56px;
}

@media (min-width: @tablet-width) {
  .example-advantage-list__item {
    width: 162px;
    height: 72px;
  }

  .example-advantage-list {
    width: 368px;
    position: absolute;
    top: -329px;
    left: 0;
  }
}

@media (min-width: @desktop-width) {
  .example-advantage-list {
    top: 233px;
    left: 0;
  }
}
