.promo-button {
  text-decoration: none;
  color: #ffffff;
  font-family: @oswald_font;
  font-style: normal;
  font-weight: 400;
  font-size: @base_font-size;
  line-height: @base_line-height;
  text-transform: uppercase;
  background-color: #68b738;
  padding: 9px 73px;
}
