.promo__wrapper {
  width: 280px;
  margin: 0 auto;
  position: relative;
}

.promo__header {
  font-family: @oswald_font;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.promo__description {
  font-family: @oswald_font;
  font-style: normal;
  font-weight: 400;
  font-size: @base_font-size;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

@media (max-width: @mobile-width) {
  .promo__wrapper {
    margin-top: -300px;
  }
}

@media (min-width: @tablet-width) and (max-width: @desktop-width) {
  .promo__wrapper {
    width: 709px;
  }

  .promo__header {
    font-family: @oswald_font;
    font-size: 60px;
    line-height: 60px;
    text-align: start;
    color: #000000;
    margin-left: 80px;
    margin-top: 58px;
  }

  .promo__description {
    font-size: 20px;
    line-height: 20px;
    text-align: start;
    color: #000000;
    margin-left: 80px;
  }
}

@media (min-width: @desktop-width) {
  .promo__wrapper {
    width: 1224px;
  }

  .promo__header {
    font-family: @oswald_font;
    font-size: 60px;
    line-height: 60px;
    text-align: start;
    color: #000000;
    margin-left: 80px;
  }

  .promo__description {
    font-size: 20px;
    line-height: 20px;
    text-align: start;
    color: #000000;
    margin-left: 80px;
  }

  .promo__image {
    top: -18px;
    right: 226px;
    position: absolute;
  }
}
