.work-product-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: @tablet-width) and (max-width: @desktop-width) {
  .work-product-list {
    display: grid;
    grid-template-columns: 243px 243px;
    column-gap: 145px;
    row-gap: 37px;
  }
}

@media (min-width: @desktop-width) {
  .work-product-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
