.work-product-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.work-product-list__item {
  margin-bottom: 26px;
}

.work-product-list__item-logo {
  position: absolute;
  top: -3px;
  left: 2px;
}

@media (min-width: @tablet-width) and (max-width: 1199px) {
  .work-product-list {
    display: grid;
    grid-template-columns: 243px 243px;
    column-gap: 142px;
    row-gap: 64px;
    justify-content: flex-start;
  }

  .work-product-list__item--margin-tablet {
    margin-bottom: 181px;
  }
}

@media (min-width: @tablet-width) {
  .work-product-list__item-logo {
    width: 80px;
    height: 80px;
    position: absolute;
    top: -111px;
    left: 0;
  }
}

@media (min-width: @desktop-width) {
  .work-product-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 10px 0;
    padding-inline-start: 0;
  }

  .work-product-list__item-logo--position-desktop {
    left: 6px;
  }
}
