.form__wrapper {
  width: 280px;
  margin: 0 auto;
}

.form__title {
  font-family: @oswald_font;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 26px;
  color: #000000;
}

.form__description {
  font-family: @oswald_font;
  font-style: normal;
  font-weight: 400;
  font-size: @base_font-size;
  line-height: @base_line-height;
  color: #000000;
  text-transform: uppercase;
}

.form__title-input {
  font-family: @oswald_font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: @base_line-height;
  text-transform: uppercase;
}

.form__input::placeholder {
  font-family: @oswald_font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: @base_line-height;
  color: @base_color;
  text-transform: uppercase;
  opacity: 0.6;
}

.form__group-title {
  font-family: @oswald_font;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  line-height: 26px;
}

.form__symbol-required {
  line-height: 16px;
  text-align: center;
  color: #000000;
}

.form__title-input--color-special-grey {
  color: #222222;
}

.form__title-input--color-black {
  color: #000000;
}

.form__filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.form__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__input {
  height: 39px;
  padding-left: 15px;
  width: 152px;
}

.form__input--size-228 {
  width: 207px;
}

.form__input--size-207 {
  width: 186px;
}

.form__input--size-220 {
  width: 199px;
}

.form__input--size-202 {
  width: 181px;
}

.form__input--size-280-151 {
  width: 261px;
  min-height: 145px;
  resize: none;
}

@media (min-width: @tablet-width) {
  .form__wrapper {
    width: 709px;
    position: relative;
  }

  .form__title {
    font-size: 60px;
    line-height: 60px;
  }

  .form__description {
    font-size: 20px;
    line-height: 30px;
  }

  .form__title-input {
    font-size: 20px;
    line-height: 30px;
  }

  .form__input::placeholder {
    font-size: 20px;
    line-height: 30px;
  }

  .form__group-title {
    font-size: 36px;
    line-height: 36px;
  }

  .form__symbol-required {
    font-size: 16px;
    position: absolute;
    bottom: 0;
    right: 160px;
  }

  .form__input {
    height: 46px;
    width: 479px;
  }

  .form__input--size-228 {
    width: 549px;
  }

  .form__input--size-207 {
    width: 521px;
  }

  .form__input--size-220 {
    width: 527px;
  }

  .form__input--size-202 {
    width: 508px;
  }

  .form__input--size-280-151 {
    width: 612px;
    min-height: 174px;
  }

  .form__list--display-position {
    display: grid;
    grid-template-columns: 221px 221px;
  }
}

@media (min-width: @desktop-width) {
  .form__wrapper {
    width: 1224px;
  }

  .form__input {
    width: 418px;
  }

  .form__input--size-228 {
    width: 488px;
  }

  .form__input--size-207 {
    width: 460px;
  }

  .form__list--desktop-position {
    position: absolute;
    top: 197px;
    right: 285px;
  }

  .form__list--desktop-flex {
    display: flex;
    justify-content: space-between;
  }

  .form__input--size-280-151 {
    width: 1201px;
  }

  .form__list--display-position {
    display: flex;
    justify-content: space-between;
  }

  .form__symbol-required {
    right: 330px;
  }
}
