.form-button {
  font-family: @oswald_font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  width: 280px;
  height: 40px;
  border: none;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .form-button {
    height: 52px;
  }
}

@media (min-width: @desktop-width) {
  .form-button {
    width: 568px;
  }
}
