.add-products-item-list-item__value {
  line-height: 14px;
  color: @base_color;
  margin-top: 13px;
  margin-bottom: 15px;
}

.add-products-item-list-item__price {
  line-height: 14px;
  color: @base_color;
}

.add-products-item-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

@media (min-width: @tablet-width) and (max-width: 1199px) {
  .add-products-item-list-item__value {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
  }

  .add-products-item-list-item__price {
    font-size: 16px;
    line-height: 20px;
  }

  .add-products-item-list__item {
    width: 223px;
    margin-top: 3px;
  }

  .add-products-item-list__item--width-159 {
    width: 159px;
  }

  .add-products-item-list__item--width-141 {
    width: 141px;
  }

  .add-products-item-list__item--width-216 {
    width: 216px;
  }
}

@media (min-width: @desktop-width) {
  .add-products-item-list__item {
    width: 285px;
  }

  .add-products-item-list-item__value {
    margin-top: 0;
    margin-bottom: 0;
  }
}
