
.products-item__card-link {
  text-decoration: none;
}

.products-item__card-title {
  font-family: @oswald_font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}
